@model SIM_Lubricentro.Models.RealizarReparacion

@{
    ViewData["Title"] = "Realizar_Reparacion_Carro";
}

<h1>Realizar_Reparacion_Carro</h1>

<h4>RealizarReparacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Realizar_Reparacion_Carro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Realizado" /> @Html.DisplayNameFor(model => model.Realizado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Carro_ID" class="control-label"></label>
                <select asp-for="Carro_ID" class ="form-control" asp-items="ViewBag.Carro_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Personal_ID" class="control-label"></label>
                <select asp-for="Personal_ID" class ="form-control" asp-items="ViewBag.Personal_ID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
